html{
    background: linear-gradient(to right, #db2044,#e233b8);
    font-size: 24.5px;
    font-style: italic ;
    scroll-behavior: smooth;
    line-height: 1.5;
}


body::-webkit-scrollbar {
    width: 0px;
  }

/* .started   not working ????
{
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    scroll-snap-stop: always;
} */

li{
text-decoration: none;
list-style: none;
display: inline;
padding-left: 22.5px;
margin-top: 50px;
}

#top{
    margin-left: 25%;
}

li:hover {
    
    font-size: 25PX;
}

a{
    text-decoration: none;
    color: #FCB69F;
}

a:hover{
    color: #09203F;
}

.texta{
    margin: 20px;
    text-align: justify-all;
    /* border: 9px inset; */
    border : 9px inset;
    border-radius: 30px 0px 30px 0px;
    border-color: tomato;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 65px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0,3),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:linear-gradient(to right, #a163f7, #ff7582);
    margin-bottom: 7.5%;
    background-size:100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
.texta:hover{
    box-shadow: 0 0 17px 4px rgba(0, 0, 0,3),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*background-image: url('https://media1.giphy.com/media/3osxY5iekJYTaYXo52/200w.webp?cid=ecf05e47itvqp2feycnkqhsj2e1ilf8cuzcy6u77lwcj7roz&rid=200w.webp');*/
    /*background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZTMwOWY2Mjg1ODNmNDAzZWI3ZjkzMzdmMzIwYjYyNjc3NDBkMzUxNCZjdD1n/8nLbG4y1qed4R7qKXF/giphy.gif');*/
    background-image: url('https://raw.githubusercontent.com/shrestha8summit/Images-for-webpage/main/gif.gif');
    text-shadow: 0 1px 1px;
    color:#ff7582;
}

.card1{
    width: 350.25px;
    height: 500.25px;
    display:inline-block;
 box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
 padding-bottom: 75px;
 margin-bottom: 25%;
 margin-top: 50px;
 margin-left: 25px;
 margin-bottom: 5%;
 background: repeating-linear-gradient(
    -45deg,
    #fff 0px,
    #fff 10px,
    #c06e21 10px,
    #c06e21 20px
 );
}

.card2{
    width: 350.25px;
    height: 500.25px;
    float:right;
    margin-right:36.9%;
    margin-top: -2500px;
 box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
 padding-bottom: 75px;
 margin-top: 50px;
 margin-left: 15px;
 margin-bottom: -20%;
 background: repeating-linear-gradient(
    -45deg,
    #fff 0px,
    #fff 10px,
    #c06e21 10px,
    #c06e21 20px
 );
}

.card3{
    width: 350.25px;
    height: 500.25px;
    float: right;
    margin-top: -47%;
    margin-right:2.5%;
    margin-left: 15%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding-bottom: 75px;
    background: repeating-linear-gradient(
    -45deg,
    #fff 0px,
    #fff 10px,
    #c06e21 10px,
    #c06e21 20px
 );
}

.card1:hover{
    width: 350.25px;
    height: 500.25px;
 box-shadow:  0 4px 8px 0 rgba(0, 0, 0,3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;

}


.card2:hover{
    width: 350.25px;
    height: 500.25px;
 box-shadow:  0 4px 8px 0 rgba(0, 0, 0,3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
}

.card3:hover{
    width: 350.25px;
    height: 500.25px;
 box-shadow:  0 4px 8px 0 rgba(0, 0, 0,3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;

}

#nad
{
    background-color: pink;
}

#pro
{
    padding-top:7.5% ;
}

.p0{
    height: 0.5%;
    width: 15%;
 }

#pic{
 margin-top: 18%;
 font-weight: 550;
}

.gallery{
     margin-left: 30%;
     margin-right: 30%;
     padding: -15%;
}

.gallery1{
  border: #FCB69F inset;
  margin-top: 25%;
  margin-bottom: -75%; 
}

.containerf{
    background: linear-gradient(to right,#6C63FF,#F8A4D8);
    color: #09203F;
    font-size: 20px;
    font-size: 24.5px;
    font-style: italic ;
    border-radius: 7.5px;
}

.input{
    border: 2.5%;
    border-radius: 55px;
    box-shadow:  2px 4px 16px;

}

select{
    border-radius:14px;
}

form{
    text-shadow: 4px 8px 6px;
    padding: 2%;
}  

.input2{
    margin-left: 36%;
    padding: 25px;
    border-radius: 15px;
    padding-left: 25px;
    margin-top:15px; 
} 

/* .hyper{
    list-style-type: none;
    color: gray;
	font-size: 20px;
    margin-right: 13.9%;
    float: right;
    margin-top: -15.9%;
    padding: 10px;
    margin-top: -75%;
} */

.footer{
    color: gray;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	
	text-decoration: none;
}

.line{
  height: 150px;
  margin-left: 58%;
  margin-top: -40%;
  display: block;
  padding-top: 40px;
}
 .hyper:hover{
 font-size: 21.5px;
}

em{
    padding-bottom:44%;
}

fieldset{
    margin-bottom: 20px;
    border: 4% #3d383b;
    border-radius:25px;
    padding-top: 4%;
}

legend{
    margin-left:50px;
    color:	#09203F;
    font-size: 30px;
    padding:0 2px 2px 0;
}

.contact{
float: right;
margin-right: 14.5%;
margin-top: -11.5%;
text-shadow: 4px 8px 6px;
}

/*height: 1440 px width: 1440 px*/

.textpic{

    color: #E6FB04;
}

.CPP
{
    width: 250px;
    height: 250px;
}

.CPP:hover
{
  height: 255px;
  width: 255px;
  filter: drop-shadow(0 0.2rem 0.25rem #1b1919);
}
